# Copy-paste this template and rename the file to be called .env, then fill in the values accordingly

# TMDB API: gets movies and shows — get key at themoviedb.org
TMDB_API_KEY=your_tmdb_api_key_here

# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DATABASE_URL=mysql://root:password@localhost:3306/backlog_db

# Authentication Secrets
ACCESS_TOKEN_SECRET=your_access_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here